*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: 'Noto Sans', sans-serif,Arial;
	overflow-y: auto;
	color: whitesmoke;
	background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 2%, rgba(0,212,255,1) 53%);
}

#main{
	width: 1050px;
	/*height: 1500px;*/
	margin: 50px auto;
	background: rgb(2,0,36);
   background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(63,76,79,1) 76%, rgba(227,227,241,1) 100%);
	padding: 20px;
	border-radius: 10px;
}

#main, #title,#sub-title{
	text-align: center;
}
 #main, h5{
 	font-size: 20px;
 }
  #img-div{
	width: 1024px;
	height: 683;
	margin-top: 20px;
	margin-bottom: 50px;
}
 #image{
    background-repeat: no-repeat;
    background-size: cover;
    border-top: 3px solid salmon;
    border-bottom: 3px solid blue;
    width: 100%;
    height: auto;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
    display: block;
 }

#img-caption{
 	font-style: italic;
 	font-size: 14px;
 	margin-bottom: 18px;
 }

 #tribute-info , p{
 	text-align: justify;
 	font-size: 14px;
 }


 h3{
 	line-height: 20px;
 	margin-bottom: 20px;
 }

 #tribute-link{
 		color: salmon;
 		text-decoration: none;
 }

 #tribute-link:hover{
 	color: blue;
 }

hr{
	height: 5px;
	border: 3px solid #eaeaea;
}

 /*Gallery*/

 .container{
 	max-width: 1050px;
 	margin: 50px auto;
 	display: flex;
 	flex-wrap: wrap;
 	justify-content: center;
 }

 .thumbnail{
 	width: 50%;
 }

 .thumbnail img{
 	width: 100%;
 }

 /*Responsive*/

 @media(min-width: 600px){
 	.thumbnail{
 		width: 25%;
 	}
 	
 }

 